<div class="home__container">
    <app-card
      gameCover="https://m.media-amazon.com/images/I/81ycgg1aviL._AC_SL1500_.jpg"
      gameLabel="DIGITAL"
      gameType="DIGITAL | PS4"
      gamePrice="R$ 129,99"
    >
    </app-card>
    <app-card
      gameCover="https://m.media-amazon.com/images/I/71uZTUnIg-L._AC_SL1000_.jpg"
      gameLabel="EXCLUSIVE"
      gameType="DISC | PS5"
      gamePrice="R$ 269,99"
    >
    </app-card>
    <app-card
      gameCover="https://m.media-amazon.com/images/I/61MTC2+6F0L._AC_SL1020_.jpg"
      gameLabel="BEST OF YEAR"
      gameType="DIGITAL | PS5"
      gamePrice="R$ 369,99"
    >
    </app-card>
    <app-card
      gameCover="https://m.media-amazon.com/images/I/81UzPcO7PiL._AC_SL1500_.jpg"
      gameLabel="NEW"
      gameType="DIGITAL | PS3 PS4 PS5"
      gamePrice="R$ 369,99"
    >
    </app-card>
  </div>
  