<div class="menu-bar__container">
    <div class="menu-bar__logo">
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5c/PlayStation_logo_and_wordmark.svg/800px-PlayStation_logo_and_wordmark.svg.png?20201006114545"
        alt="playstation logo"
        srcset=""
        width="170px"
        height="32px"
      >
    </div>
    <div class="menu-bar__item">
      <ul>
        <li><a href="#">YOUTUBE</a></li>
        <li><a href="#">LINKEDIN</a></li>
        <li><a href="#">GITHUB</a></li>
      </ul>
    </div>
    </div>